

    <div class="container my-5">
        <div class="row justify-content-center ">
            <div class="col-md-5">
                <a class="btn btn-primary" href="/student">Back</a>
                <br>
                <br>
                
                <div class="card">
                    <h2 class="text-center">Student Add Form</h2>
                    <div class="card-body">
                        <form action="/student" method="POST" enctype="multipart/form-data">
                            <div class="my-3">
                                <label for="">Name</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Email</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Location</label>
                                <input type="text" name="location" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Skill</label>
                                <input type="text" name="skill" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Cell</label>
                                <input type="text" name="cell" class="form-control">
                            </div>
                            <div class="my-3">
                               
                                <input type="file" name="photo" class="form-control">
                            </div> 
                            
                            <input type="submit" class="btn btn-primary w-100">
                           
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>




   